@model PaiPaiGO.Models.Opinion_Star


<!--SweetAlert2-->
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>


<link rel="stylesheet" href="~/css/CC_members.css" />
@*	錯誤訊息: @Html.ValidationSummary()*@
<!--評分的樣式-->
<style>
	.rating {
		font-size: 24px; /* 評分星星的大小 */
	}

		.rating i {
			cursor: pointer; /* 讓鼠標顯示為手指 */
		}

	.rated {
		color: #ffc107; /* 選中的星星及其右側星星的顏色（黃色） */
	}
</style>

<!--評分第四版的按鈕的樣式-->
<style>
	.btn-checkbox {
		display: inline-block;
		background-color: #ccc;
		color: #000;
		border: 1px solid #ccc;
		padding: 5px 10px;
		margin: 5px;
		cursor: pointer;
		border-radius: 20px;
	}

		.btn-checkbox.selected {
			background-color: #000;
			color: #fff;
			border: 1px solid #000;
		}
</style>


<!--評分星星的素材-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<!--jquery-->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">



<!--內容-->

<div class="col-lg-2 col-1"></div>
<div class="d-flex col-lg-8 col-10">
	<div class="mw-25 mt-5 h-auto c_loginImg col-lg-7"></div>
	<!-- 登入資訊框框div -->
	<div class="c_singinDiv rounded mw-50 mt-5 col-lg-4 col-12" style="background-color:rgb(253, 249, 249,0.6);">
		<!-- 評分 -->
		<div class="mb-3">
			<h3>任務評分</h3>
			<!-- <label for="rating" class="form-label">評分</label> -->
			<div class="rating" id="ratingStars">
				<i class="fas fa-star" data-rating="1"></i>
				<i class="fas fa-star" data-rating="2"></i>
				<i class="fas fa-star" data-rating="3"></i>
				<i class="fas fa-star" data-rating="4"></i>
				<i class="fas fa-star" data-rating="5"></i>
			</div>
			<input type="hidden" id="rating" name="rating">
		</div>

		<!-- 評論 -->
		<div class="mb-3">
			<h3>請選擇評論</h3>
			<!-- class="btn-group" role="group" aria-label="Basic example"-->
			<div>
				<div class="btn-checkbox" onclick="toggleColor(this)">優質服務</div>
				<div class="btn-checkbox" onclick="toggleColor(this)">便利好用</div>
				<div class="btn-checkbox" onclick="toggleColor(this)">解決很多問題</div>
				<div class="btn-checkbox" onclick="toggleColor(this)">值得推薦</div>
				<div class="btn-checkbox" onclick="toggleColor(this)">未標示清楚</div>
				<div class="btn-checkbox" onclick="toggleColor(this)">商品有誤</div>

			</div>
			@*	<p>您选择的选项是：<span id="selected-options"></span></p>*@


			<!--這邊放入了表單要送出的隱藏數值，也就是要送到資料庫的有哪些項目-->
			<form asp-action="Yu_Star" id="Starform">
				@*<input type="hidden" asp-for="MissionId" name="MissionId" value="" />*@
				<input type="hidden" id="Score_" name="Score" value="" class="form-control" />
				<input type="hidden" id="Content_" name="Content" value="" class="form-control" />
				<input type="hidden" name="MissionId" value="@ViewData["MissionId"]" class="form-control" />
				<input type="hidden" name="State" value="未處理" class="form-control" />
				<input type="hidden" name="Date" value="@ViewData["Date"]" class="form-control" />
				<input type="hidden" name="ReportMemberId" value="@ViewData["MemberId"]" class="form-control" />
				<input type="hidden" name="ReportedMemberId" value="@ViewData["OthersId"]" class="form-control" />
				<input type="hidden" name="Type" value="意見" class="form-control" />
				<input type="hidden" name="Ratingnumber" value="@ViewData["Ratingnumber"]" class="form-control" />
				<br />
				<input type="submit" value="提交評論以完成任務" class="btn btn-secondary btn-finish" data-mission-id="@ViewData["MissionId"]" data-member-id="@ViewData["MemberId"]" />
				<a @*asp-action="Yu_Calendar" *@ href="@Url.Action("Yu_Calendar", "Yu_Calendar")" class="btn btn-outline-secondary btn-finish" data-mission-id="@ViewData["MissionId"]" data-member-id="@ViewData["MemberId"]">不予評論直接完成任務</a>
			</form>
			<br />
		</div>
	</div>
</div>
<br />

<!--評分的JS-->
<script>

	//評分星星
	const ratingStars = document.querySelectorAll(".rating i");//選取所有的星星
	const ratingInput = document.getElementById("rating");//選取包住星星的div
	let selectedRating = null; //新增一個用於儲存使用者選擇評分的變數

	ratingStars.forEach(star => {
		star.addEventListener("click", () => {
			const ratingValue = parseInt(star.getAttribute("data-rating"));//取得被點選的那顆星的值
			selectedRating = ratingValue; // 將被點選的星值存進去變數裡
			ratingInput.value = ratingValue;
			resetRating();

			star.classList.add("rated");
			// 同時讓左側星星變色
			let prevStars = star.previousElementSibling;
			while (prevStars) {
				prevStars.classList.add("rated");
				prevStars = prevStars.previousElementSibling;
			}
			document.getElementById("Score_").value = selectedRating
		});
	});

	function resetRating() {
		ratingStars.forEach(star => {
			star.classList.remove("rated");
		});
	}

	//評論的JS，點下按鈕後把按鈕變色，讓評論者知道自己選了什麼
	function toggleColor(button) {
		button.classList.toggle("selected");

		var selectedOptions = document.querySelectorAll(".btn-checkbox.selected");
		var selectedOptionsDisplay = document.getElementById("selected-options");
		var selectedOptionText = Array.from(selectedOptions).map(function (option) {
			return option.textContent;
		}).join(', ');

		document.getElementById("Content_").value = selectedOptionText;
	}


	//完成任務：按下提交後，把任務狀態更改為已完成
	$(document).ready(function () {
		var changesQueue = []; // 設一個changesQueue(本地)的list，用來保存更改  (有保存變更按鈕)
		$(".btn-finish").click(function () {

			var missionId = $(this).data("mission-id");
			var memberId = $(this).data("member-id");
			var newStatus = "已完成";

			console.log(missionId)
			console.log(memberId)
			console.log(newStatus)

			changesQueue.push({ missionId: missionId, newStatus: newStatus, memberId: memberId });

			// 發送更改到Server
			$.ajax({
				type: "POST",
				url: "/Yu_Calendar/FinishMission",
				data: { changes: changesQueue },
				dataType: "json",
				success: function (data) {

				},
				error: function () {
					// 處理錯誤show出來
					console.error('保存更改失败');
				}
			});

		});
	});

	// 如果未填寫則阻止表單提交
	$(document).ready(function () {
		$("#Starform").submit(function (e) {
			if (!$.trim($("#Content_").val())) {

				e.preventDefault();
				Swal.fire({
					icon: 'warning',
					text: '請選擇評論選項，或點擊<不予評論直接完成任務>',
				})
			}
		});
	});


</script>