<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>PaiPaiGo-代排隊與代購</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/chatservice.css" asp-append-version="true" />
	@*連結js*@
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script src="~/js/time.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.11/signalr.min.js"></script>
	<!-- FontAwesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<style>
		.collapse-horizontal {
			width: 0;
			overflow: hidden;
			transition: width 0.3s ease;
			position: absolute; /* 使用絕對定位 */
			top: 80px; /* 距離導覽列的高度 */
			right: 10px; /* 距離右邊的距離 */
		}
	</style>
</head>
<body>

	<!-- 導覽列 -->
	<!-- navbar-expand-md 為隱藏成小按鈕 -->
	<nav class="navbar navbar-expand-sm  navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 sticky-top">
		<div class="container-fluid">

			<!-- 未讀訊息設定 -->
			<div id="unread-messages" class="unread-messages-badge"></div>
			<!-- 導覽列小圖 -->
			<a class="navbar-brand" href="@Url.Action("Index", "YU_Home")" style="margin-left:40px"><img src="~/img/Logo.png" style="width:13em" alt=""></a>

			<!-- 響應式導覽列整列變成小圖列 -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
					aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
				<ul class="navbar-nav">
					@*管理員登入後才出現的導覽列*@
					@if (ViewBag.YU_ID == "000")
					{
						<li><a class="nav-link" href="@Url.Action("AdmMember", "WS_AdmMembers")">後臺管理</a></li>
					}
					<li class="nav-item">
						<a id="action" class="nav-link active" aria-current="page" href="@Url.Action("YH_CasePage", "YH_CasePages")">任務瀏覽</a>
					</li>
					<li class="nav-item">
						@if (ViewBag.YU_ID != null)
						{

							<a class="nav-link" asp-controller="HS_Pending" asp-action="PendingOrder_Pai">任務刊登</a>
						}
						else
						{
							<a class="nav-link" href="@Url.Action("Login", "CC_Members")">任務刊登</a>
						}
					</li>
					<li class="nav-item">
						<a class="nav-link" href="@Url.Action("Index", "YU_Home")#section4">關於我們</a>
					</li>
					


					@*下拉選單*@
					<div class="dropdown">
					<li class="nav-item dropdown">
							@if (ViewBag.YU_ID != null)
							{
							<p style="color:dodgerblue; flex:auto; font-size:26px; margin-top: -6px; margin-bottom: -2rem; padding-left: 22px;">歡迎~@ViewBag.YU_Name</p>
							}
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
						   aria-expanded="false" style="margin-right:40px;">
							會員專區
						</a>

						<ul class="dropdown-menu">
								@if (ViewBag.YU_ID != null)
								{
								<li><a class="dropdown-item" href="@Url.Action("Yu_Calendar", "Yu_Calendar")">任務追蹤</a></li>
								<li><a class="dropdown-item" href="@Url.Action("MemberProfile", "CC_Members")">會員資料</a></li>
								<li><a class="dropdown-item" href="@Url.Action("Logout", "CC_Members")">登出</a></li>
								}
								else
								{
								<li><a class="dropdown-item" href="@Url.Action("Login", "CC_Members")">任務追蹤</a></li>
								<li><a class="dropdown-item" href="@Url.Action("Login", "CC_Members")">會員資料</a></li>
								<li><a class="dropdown-item" href="@Url.Action("Login", "CC_Members")">登入</a></li>
								}

						</ul>
					</li>

			</div>

		</div>
	</nav>

	<!-- 點一下按鈕產生時間 -->
	<div class="timee  btn-primary" onclick="getYourData()">
		<img src="~/img/time3.png" id="liveToastBtn" style="width: 50px; height: 50px;" alt="倒數計時" onclick="openForms()">
	</div>
	<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
		<div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-header">
				<i class="fa-solid fa-triangle-exclamation fs-2" style="color:  #ffc800;"></i>
				<b class="rounded me-auto fs-4">任務截止提醒</b>
				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
			<div id="remainingTimeContainer" class="toast-body" style="font-size:25px;">
				@*<p>任務名稱:</br> @Model.MissionName</p>
				<p>任務剩餘時間:</br> @Model.RemainingTime</p>*@
			</div>
			@*<div style="font-size:20px;">&ensp;&ensp;當下時間 : 2023/12/1 下午 10:00</div>*@
		</div>
	</div>


	<script>
		var liveToastBtn = document.getElementById('liveToastBtn');
		var liveToast = new bootstrap.Toast(document.getElementById('liveToast'));

		liveToastBtn.addEventListener('click', function () {
			liveToast.show();
		});

		@* 時間的彈跳視窗，點擊會出現，點Close會關閉*@

			function openForms() {
				document.getElementById("myForms").style.display = "block";
			}

		@*後端帶入任務倒數*@

			function updateRemainingTime(data) {
				$('#remainingTimeContainer').html(data);
				
				// 如果需要，您可以在這裡添加其他根據 MissionStatus 的值執行的操作
			}
		
		function fetchAndUpdateRemainingTime() {
			$.ajax({
				url: '@Url.Action("RemainingTimePartial", "Home")',
				type: 'GET',
				success: function (data) {
					if (data != null) {
						updateRemainingTime(data);
					} else {
						updateRemainingTime(data);
						alert('No data received.');
					}
				},
				error: function () {
					alert('An error occurred while fetching data.');
				}
			});
		}

		function getYourData() {
			fetchAndUpdateRemainingTime();
			setInterval(fetchAndUpdateRemainingTime, 1000);
		}
	</script>



	<!-- 客服 -->
	@if (ViewBag.YU_ID != null)
	{

		<!-- 客服對話框 -->
		<div class="open-button">
			<img src="~/img/chat2.png" style="width: 50px; height: 50px;" onclick="fetchMemberMissions()" alt="">
		</div>
		<div class="chat-popup" id="myForm">
			<!-- 進入聊天畫面的標題 -->
			<form action="/action_page.php" class="form-container">
				<h1>客服服務</h1>
				<!-- 對話框標題 -->
				<lable id="msg" style="font-size:25px;" onclick="msg()">Message</lable>
				<br />
				@*下拉選單資料從後端來，確認登入的會員接單MissionId中還在進行中的MissionId*@
				@*onchange="updateFeedbackMessage()*@
				<select id="missionIdDropdown" style="font-size:20px;">
				</select>
				@*下拉選單，讓客戶選擇*@
				<select id="optionsDropdown" style="font-size:20px;" onchange="updateTextarea()">
					<option value="回報類別">回報類別</option>
					<option value="任務執行地不明確">任務執行地不明確</option>
					<option value="任務內容不完整">任務內容不完整</option>
					<option value="排隊任務排錯時間">排隊任務排錯時間</option>
					<option value="時間截止後未看到接單者">時間截止後未看到接單者</option>
				</select>

				<!-- 可以直接輸入訊息，互動程式寫入 -->
				<textarea id="msgInput" placeholder="請問有什麼可以為您服務? 請選擇您想回饋的訊息。" name="msg" required ></textarea>
				<!-- 處理選擇的按鈕 -->
				<button type="button" class="btn1" onclick="sendSelectedOption()">Send</button>
				<button type="button" class="btn1 cancel" onclick="closeForm()">Close</button>
			</form>
		</div>
	}
	<script>
		//測試紐
		function msg() {
			document.getElementById('msgInput').value = "我想回饋：任務執行地不明確。與商家地址不同，無法執行。";
		}
	</script>
	@*客服連接資料庫的JS*@
	<script>
		function fetchMemberMissions() {
			//點客服按鈕才能打開
			openForm();
			$.ajax({
				url: '/YU_Message/GetMemberMissions', // 請將URL替換為實際的路由
				method: 'GET',
				success: function (data) {
					const missionIdDropdown = document.getElementById("missionIdDropdown");
					// 清空下拉選單的選項
					missionIdDropdown.innerHTML = "";
					// 先添加 "請選擇" 選項
					var pleaseSelectOption = document.createElement("option");
					pleaseSelectOption.value = "";
					pleaseSelectOption.text = "任務編號";
					missionIdDropdown.appendChild(pleaseSelectOption);
					// 填充下拉選單選項
					for (const missionId of data) {
						const option = document.createElement("option");
						option.value = missionId;
						option.text = missionId;
						missionIdDropdown.appendChild(option);
					}
					
				},
				error: function () {
					alert("無法獲取MissionID列表");
				}
			});
		}
		//點擊內容後呈現
		function updateTextarea() {
			const dropdown = document.getElementById("optionsDropdown");
			const selectedOption = dropdown.options[dropdown.selectedIndex].value;
			document.getElementById("msgInput").value = `我想回饋：${selectedOption}。`;
		}
		
		function sendSelectedOption() {
			// 直接在前端顯示已收到的消息
			//const responseMessage = "您好，已收到訊息，謝謝您的回饋。";
			const message = document.getElementById("msgInput").value;
			document.getElementById("msgInput").value = "您好，已收到訊息，謝謝您的回饋，將盡速為您處理。";

			//document.location.href = '/YU_Message/Index';

			const selectedOption = document.getElementById("optionsDropdown").value;
			const reply = document.getElementById("msgInput").value;
			var e = document.getElementById("missionIdDropdown");
			var missionId = parseInt(e.options[e.selectedIndex].value);
			const currentTime = new Date(); // 取得當下時間
			console.log('getdata:', selectedOption, message, missionId, currentTime);
			console.log('type:', typeof missionId);
		

			$.ajax({
				url: '/YU_Message/SubmitChat',
				method: "POST",
				data: { yu: selectedOption, mi: message, reply, missionId: missionId, currentTime: currentTime },
				success: function (data) {
					if (data != "") {
						console.log("OK", data);
						//form(message);
					}
				},
				error: function(data){
					alert("錯誤");
				}
			});
		}

	</script>
					


	<div>
		@RenderBody()
	</div>


	<br />
	<br />

	<div class="border-top footer footer-expand-lg">
		<br />
		<div class="container-md text-center">
			<div class="row">
				<div class="col">

					<div class="card-body">
						<img src="~/img/Logo.png" style="width:13em" alt="">
						@*<h3 class="card-title">PaiPaiGo</h3>*@
						<br /><br />
						<p style="font-size: 20px;"> 客服時間:周一至周五 8:00 ~ 18:00 </p>
						<a href="#"><img width="25" height="25" src="~/img/FB.png" alt="#"></a>
						&ensp;&ensp;
						<a href="#"><img width="25" height="25" src="~/img/IG.png" alt="#"></a>
					</div>
				</div>

				<div class="col">

					<div class="card-body">
						<h4 class="card-title">任務專區</h4>
						<br>
						<a href="#" class="card-text">任務瀏覽</a>
						<br>
						<a href="#" class="card-text">任務刊登</a>
						<br>
						<a href="#" class="card-text">任務追蹤</a>
					</div>
				</div>
				<div class="col">

					<div class="card-body">
						<h4 class="card-title">公司</h4>
						<br>
						<a href="#" class="card-text">關於我們</a>
						<br />
						<a href="#" class="card-text">服務條款</a>
						<br>
						<a href="#" class="card-text">聯絡我們</a>

					</div>
				</div>
				<div class="col">

					<div class="card-body">
						<h4 class="card-title">會員服務</h4>
						<br>
						<a href="#" class="card-text">登入/登出</a>
						<br>
						<a href="#" class="card-text">我的帳戶</a>
						<br>
						<a href="#" class="card-text">幫助中心</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
