
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PaiPaiGO.Models.Mission
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>接任務</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
            @* 地圖api *@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVc0hKUxRv8PWCCNNhMsf7m_ZwIoivCZg"></script>
    @* 效果 *@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>

    <link rel="stylesheet" href="~/css/HS_Get.css" asp-append-version="true" />

</head>
<style>
    .capsule-button {
        border: 2px solid #007bff;
        border-radius: 25px; /* 控制半圆的圆角半径 */
        padding: 5px 10px;
        background-color: #007bff;
        color: white;
        position: relative;
        overflow: hidden;
    }

        .capsule-button::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background-color: #007bff;
            border-radius: 25px 0 0 25px; /* 控制左半圆的圆角半径 */
            transform: translateX(-100%);
        }

        .capsule-button::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;
            background-color: #007bff;
            border-radius: 0 25px 25px 0; /* 控制右半圆的圆角半径 */
            transform: translateX(100%);
        }

    /* 彈出視窗樣式 */
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.9);
        align-items: center;
        justify-content: center;
    }

    .modal-content {
        width: auto; /* 自動寬度 */
        max-height: 0; /* 初始為 0 */
        transition: max-height 0.5s ease-out; /* 動畫效果 */
        object-fit: contain; /* 保持寬高比 */
    }


    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #fff;
        font-size: 40px;
        cursor: pointer;
    }

</style>

<body>
    <div class="row" style="padding-top: 20px;">
        <div class="col-md-1"></div>
        <div class="col-md-10" style="background-color: #CDF4D1;">
            <div class="row">
                <!-- 左邊 -->
                <div class="col-md-6" style="font-size: 25px;padding-left: 40px;">
                    <strong>
                        <p style="color: #027206;padding-top: 30px;">代排</p>
                    </strong>
                    <h1>@TempData["PaiMissionName"]</h1>
                    <div style="color: gray;">
                        <span>發布時間:</span>
                        @{
                            DateTime OrderTime;
                            if (DateTime.TryParse(TempData["PaiOrderTime"]?.ToString(), out OrderTime)) {
                                string OT = OrderTime.ToString("yyyy/M/d tt hh:mm");
                                ViewBag.OT = OT;
                            }
                        }
                        <span>@ViewBag.OT</span>
                    </div>
                   
                </div>
                <!-- 右邊 -->
                <div class="col-md-6" style="font-size: 25px;">
                    <!-- 標籤 -->
                    <div class="col-md-11 d-flex justify-content-end" style="padding-top: 90px;">
                        <button class="capsule-button"><strong>#@TempData["PaiTags"]</strong></button>
                    </div>

                    <br><br>
                  
                </div>
                <div class="row">
                    <!-- 左邊 -->
                    <div class="col-md-6" style="font-size: 25px;padding-left: 40px;">
                        @{
                            DateTime DeliveryDate;
                            TimeSpan DeliveryTime;
                            if (DateTime.TryParse(TempData["PaiDeliveryDate"]?.ToString(), out DeliveryDate)) {
                                if (TimeSpan.TryParse(TempData["PaiDeliveryTime"]?.ToString(), out DeliveryTime)) {
                                    DateTime combinedDeliveryDateTime = DeliveryDate + DeliveryTime;

                                    string datePart = combinedDeliveryDateTime.ToString("yyyy/M/d");
                                    string timePart = combinedDeliveryDateTime.ToString("tt hh:mm");
                                    string combined = $"{datePart} {timePart}";

                                    ViewBag.DeliveryDateTime = combined;
                                }
                            }
                        }
                        <p class="mb-1">執行時間:<span>@ViewBag.DeliveryDateTime</span></p>
                        <br /><br />

                        <!-- 任務內容 OK-->
                        <div style="position: relative; width: 700px;">
                            <div style="position: absolute; top: 50px; left: -5px;background-color: #CDF4D1; padding: 5px; height: 20px;">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clipboard"
                                     width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                     fill="none" stroke-linecap="round" stroke-linejoin="round"
                                     style="display: inline-block; vertical-align: middle; margin-right: -7px; margin-top: -15px;background-color: #CDF4D1;">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
                                    <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
                                </svg>
                                <p style="display: inline-block; vertical-align: middle;background-color: #CDF4D1;">代排說明:</p>
                            </div>
                            <br><br>
                            <div style="border: 1px solid #000; padding: 5px; box-sizing: border-box; overflow: auto;">
                                <textarea style="width: 100%; height: 170px; border: none;background-color: #CDF4D1;" readonly>
                                                                                                            @TempData["PaiMissionDescription"]

            </textarea>
                                <!-- 添加一个可以放置图片的空间 -->
                                <div style="margin-top: 10px;">
                                    <!-- 在这里放置图片 -->
                                    @if (ViewBag.ImageData != null) {
                                        <!-- 顯示的圖片 -->
                                        <img class="clickable-image" src="@ViewBag.ImageData" alt="Uploaded Image" style="width:150px; cursor: pointer;" />

                                        <!-- 彈出視窗（Modal） -->
                                        <div id="myModal" class="modal">
                                            <span class="close">&times;</span>
                                            <img class="modal-content" id="img01">
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <br><br>
                    </div>

                    <!-- 右邊 -->
                    <div class="col-md-6" style="font-size: 25px;">
                        <!-- 截止時間 -->
                        @{
                            DateTime DeadlineDate;
                            TimeSpan DeadlineTime;
                            if (DateTime.TryParse(TempData["PaiDeadlineDate"]?.ToString(), out DeadlineDate)) {
                                if (TimeSpan.TryParse(TempData["PaiDeadlineTime"]?.ToString(), out DeadlineTime)) {
                                    DateTime combinedDateTime = DeadlineDate + DeadlineTime;

                                    string datePart = combinedDateTime.ToString("yyyy/M/d");
                                    string timePart = combinedDateTime.ToString("tt hh:mm");
                                    string combined = $"{datePart} {timePart}";

                                    ViewBag.CombinedDateTime = combined;
                                }
                            }
                        }
                        <div>
                            <img src="./img/alarm.svg" alt="">案件截止時間:<span style="color:orange;">@ViewBag.CombinedDateTime</span>
                        </div>
                        <!-- 任務金額 -->
                        <div>
                            <img src="./img/payments_FILL0_wght400_GRAD0_opsz24.svg" alt="">任務金額:<span>$@Convert.ToInt32(TempData["PaiMissionAmount"])</span>
                        </div>
                        <!-- 配送地點 -->
                        <div>
                            <img src="./img/map-pin.svg" alt="">執行地點:
                            <p style="color:orange;">@TempData["PaiLocationCity"]/@TempData["PaiLocationDistrict"]</p>
                            @* 地圖 *@
                            <div id="map" style="height: 400px; width: 100%;"></div>
                        </div>
                        <!-- 接單 -->
                        <div style="padding-left: 370px;">
                            <button type="button" id="updateMissionButton" class="btn btn-primary mt-3 colins-submit" style="background-color: #4B3DE7; font-size: 25px;">
                                <svg width="196" height="70">
                                    <!-- 僅保留一個 rect 元素 -->
                                    <rect class="btn-shape" x="3" y="2" width="190" height="64" rx="32" ry="32" />
                                    <text class="textNode" x="50%" y="43" text-anchor="middle">接單</text>
                                    <text class="checkNode" x="35" y="40">✔</text>
                                </svg>
                            </button>

                        </div>

                    </div>
                </div>
               
            <div style="height:50px"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div style="display:none">
        <input type="hidden" name="id" value="@TempData["PaiMissionId"]" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="MissionId" value="@TempData["PaiMissionId"]" />

        @* 變化---------------------------- *@
        <div class="form-group">
            <label asp-for="AcceptMemberId" class="control-label"></label>
                <input asp-for="AcceptMemberId" class="form-control" value="@ViewBag.YU_ID" />
            <span asp-validation-for="AcceptMemberId" class="text-danger"></span>
        </div>



        @* 改變----------------------------------- *@
        <div class="form-group">
            <label asp-for="MissionStatus" class="control-label"></label>
            <input asp-for="MissionStatus" class="form-control" value="進行中" />
            <span asp-validation-for="MissionStatus" class="text-danger"></span>
        </div>


        @* 改變------------------------ *@
        <div class="form-group">
            <label asp-for="AcceptTime" class="control-label"></label>
            <input asp-for="AcceptTime" class="form-control" value="@TempData["rePaiAcceptTime"]" />
            <span asp-validation-for="AcceptTime" class="text-danger"></span>
        </div>

        <script>

                // 地圖api
                function initialize() {
                    var mapOptions = {
                        zoom: 15,
                        center: { lat: 25.0173405, lng: 121.5397518 }  // 台北市的預設經緯度
                    };
                    map = new google.maps.Map(document.getElementById('map'), mapOptions);
                }
                function geocodeAddress() {
                    var geocoder = new google.maps.Geocoder();
                    var address = "@TempData["PaiLocationCity"]" + " " + "@TempData["PaiLocationDistrict"]";  
                    geocoder.geocode({ 'address': address }, function (results, status) {
                        if (status === 'OK') {
                            map.setCenter(results[0].geometry.location);
                            new google.maps.Marker({
                                map: map,
                                position: results[0].geometry.location
                            });
                        } else {
                            alert('Geocode was not successful for the following reason: ' + status);
                        }
                    });
                }
                window.onload = function () {
                    initialize();  // 初始化地圖
                    geocodeAddress();  // 進行地理編碼
                };

                // model放大圖片
                document.addEventListener("DOMContentLoaded", function () {
                    var modal = document.getElementById("myModal");
                    var modalImg = document.getElementById("img01");
                    var img = document.querySelector(".clickable-image"); 

                    // 點擊圖片時，顯示彈出視窗並放大圖片
                    img.onclick = function () {
                        modal.style.display = "flex";
                        modalImg.src = this.src;
                        modalImg.style.maxHeight = "0";
                        setTimeout(function () {
                            modalImg.style.maxHeight = "60%";
                        }, 10);
                    };

                    var span = document.getElementsByClassName("close")[0];

                    // 點擊關閉按鈕時，關閉彈出視窗
                    span.onclick = closeImage;

                    // 點擊彈出視窗以外的區域時，也關閉它
                    window.onclick = function (event) {
                        if (event.target === modal) {
                            closeImage();
                        }
                    };

                    function closeImage() {
                        modalImg.style.maxHeight = "0";
                        setTimeout(function () {
                            modal.style.display = "none";
                            modalImg.src = "";
                        }, 510);
                    }
                });


                // post_ajax
                document.addEventListener("DOMContentLoaded", function () {
                    const updateMissionButton = document.getElementById("updateMissionButton");

                    var tl = gsap.timeline({
                        paused: true,
                        onComplete: function () {
                            const missionId = document.querySelector("input[name='MissionId']").value;
                            const acceptMemberId = document.querySelector("input[name='AcceptMemberId']").value;
                            const missionStatus = document.querySelector("input[name='MissionStatus']").value;
                            const acceptTime = document.querySelector("input[name='AcceptTime']").value;

                            $.ajax({
                                url: '/HS_Get_Text/GetOrder_Pai',
                                method: 'POST',
                                data: {
                                    MissionId: missionId,
                                    AcceptMemberId: acceptMemberId,
                                    MissionStatus: missionStatus,
                                    AcceptTime: acceptTime
                                },
                                success: function (response) {
                                    if (response.success) {
                                        window.location.href = '/HS_Get_Text/Text_Pai/' + missionId;
                                    } else {
                                        alert('連結錯誤，找不到此任務');
                                    }
                                },
                                error: function (err) {
                                    alert('Error occurred');
                                }
                            });
                        }
                    });

                    tl.to('.colins-submit svg text.textNode', { duration: 0.15, fillOpacity: 0 })
                        .to('.colins-submit svg rect.btn-shape', {
                            duration: 0.25,
                            borderRadius: '50%',
                            width: "70px",
                            height: "70px",
                            x: "0",
                            y: "0"
                        })
                        .to('.colins-submit svg rect.btn-shape', {
                            duration: 1.2,
                            strokeDashoffset: 0,
                            ease: "Quad.easeIn"
                        })
                        .to('.colins-submit svg rect.btn-shape', { duration: 0.3, fill: "#4B3DE7" })
                        .to('.colins-submit svg text.checkNode', { duration: 0.3, fillOpacity: 1 });

                    updateMissionButton.addEventListener("click", function () {
                        tl.restart();
                    });
                });


        </script>
    </div>

   
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>

</html>