@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PaiPaiGO.Models.Mission

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
            @* 效果 *@
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        /* 新增的 CSS 樣式 */
        #costDetails {
            font-size: 20px; /* 內容字體大小為20px */
            margin-top: 10px;
            text-align: right;
        }

            #costDetails p {
                margin: 0px 0;
            }

        /* 標題字體大小為25px */
        h1,
        strong {
            font-size: 25px;
        }

        /* 內容字體大小為20px */
       /*  span {
            font-size: 20px;
        } */
    </style>
</head>
<body>
    <form method="post" action="PaiToDatabase">
        @Html.AntiForgeryToken()

        <div class="row g-3">
            <div class="col-md-1">
            </div>
            <div class="col-md-10" style="background-color: #B5DFF1;">
                <h1 style="text-align: center;">任務確認</h1>
                <div class="row">
                    <div class="col-md-1"></div>
                    <!-- 左側內容 -->
                    <div class="col-md-4">
                        @{
                            DateTime QueueDate;
                            DateTime Deadline;
                            if (DateTime.TryParse(TempData["QueueDate"]?.ToString(), out QueueDate)) {
                                string PDD = QueueDate.ToString("yyyy/M/d tt hh:mm");
                                ViewBag.PDD = PDD;
                            };
                            if (DateTime.TryParse(TempData["Deadline"]?.ToString(), out Deadline)) {
                                string PD = Deadline.ToString("yyyy/M/d tt hh:mm");
                                ViewBag.PD = PD;
                            }
                        }
                        <p><strong>任務種類:</strong><span>排隊</span></p>
                        <p><strong>標籤：</strong><span>@ViewBag.QueueLabel</span></p>
                        <p><strong>名稱：</strong><span>@ViewBag.PaiName</span></p>
                        <p><strong>執行地區：</strong><span>@ViewBag.City @ViewBag.Location @ViewBag.Address</span></p>
                        <p><strong>代排隊日期：</strong><span><br />@ViewBag.PDD</span></p>
                        <p><strong>截止日期：</strong><span><br />@ViewBag.PD</span></p>
                        <!-- 新增的圖片附件部分 -->
                        <p>
                            <strong>圖片附件：</strong><span id="imageAttachment">
                                @if (!string.IsNullOrEmpty(ViewBag.ImageData))
                                {
                                    <img src="data:image/jpeg;base64,@ViewBag.ImageData" alt="Uploaded Image" style="width:150px" />
                                }
                            </span>
                        </p>
                    </div>
                    <div class="col-md-1"></div>

                    <!-- 右側內容 -->
                    <div class="col-md-5">
                        <!-- 任務內容（唯讀） -->
                        <div class="col">
                            <label for="task_content" class="form-label me-2" style="font-size: 25px;">任務內容:</label>
                            <textarea class="form-control" rows="5" placeholder="任務內容..." id="task_content" style="font-size: 20px;"
                                      readonly>@ViewBag.TaskContent</textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-7"></div>
                            <div class="col-md-5">
                                <!-- 費用明細 -->
                                <div class="card" style="background-color: #F0F0F0; font-size: 25px;" id="costDetails">
                                    <div class="card-header text-center" style="background-color: #D3D3D3; color: black;">
                                        費用明細
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #E5E5E5; color: black;">
                                            <div class="text-left">任務金額</div>
                                            <span class="badge rounded-pill" style="background-color: #A8A8A8;">$@ViewBag.Amount</span>
                                        </li>
                                        <!-- 這裡可以添加更多項目 -->
                                    </ul>
                                </div>
                                <br />
                            </div>
                        </div>
                        <div class="col-md-1"></div>

                        <!-- 修改和付款按鈕 -->
                        <div class="d-flex justify-content-end">
                            <!-- 修改按鈕 -->
                            <button type="button" id="changbtn" class="btn btn-danger me-2">
                                修改
                            </button>
                            <!-- 發布按鈕 -->
                            <button type="button" id="postbtn" class="btn btn-primary">
                                發布
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <div style="display:none">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MissionId" class="control-label"></label>
                <input asp-for="MissionId" class="form-control" value="@ViewBag.MissionId" />
                <span asp-validation-for="MissionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control"><option value="1" selected>1</option></select>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" value="@ViewBag.QueueLabel" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderMemberId" class="control-label"></label>
                <input asp-for="OrderMemberId" class="form-control" value="@ViewBag.YU_ID" />
                <span asp-validation-for="OrderMemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcceptMemberId" class="control-label"></label>
                <input asp-for="AcceptMemberId" class="form-control" />
                <span asp-validation-for="AcceptMemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MissionName" class="control-label"></label>
                <input asp-for="MissionName" class="form-control" value="@ViewBag.PaiName" />
                <span asp-validation-for="MissionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MissionAmount" class="control-label"></label>
                <input asp-for="MissionAmount" class="form-control" value="@ViewBag.Amount" />
                <span asp-validation-for="MissionAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcode" class="control-label"></label>
                <input asp-for="Postcode" class="form-control" value="@TempData["Postcode"]" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormattedMissionAmount" class="control-label"></label>
                <input asp-for="FormattedMissionAmount" class="form-control" value="@ViewBag.TotalAmount" />
                <span asp-validation-for="FormattedMissionAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationCity" class="control-label"></label>
                <input asp-for="LocationCity" class="form-control" value="@ViewBag.City" />
                <span asp-validation-for="LocationCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationDistrict" class="control-label"></label>
                <input asp-for="LocationDistrict" class="form-control" value="@ViewBag.Location" />
                <span asp-validation-for="LocationDistrict" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" value="@ViewBag.Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label"></label>
                <input asp-for="DeliveryDate" class="form-control" value="" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryTime" class="control-label"></label>
                <input asp-for="DeliveryTime" class="form-control" value="@TempData["QueueTime"]" />
                <span asp-validation-for="DeliveryTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeadlineDate" class="control-label"></label>
                <input asp-for="DeadlineDate" class="form-control" value="" />
                <span asp-validation-for="DeadlineDate" class="text-danger"></span>
            </div>
            @{
                DateTime DeadlineDate;
                if (DateTime.TryParse(TempData["Deadline"]?.ToString(), out DeadlineDate)) {
                    var apple = DeadlineDate.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ', 'T');
                    ViewBag.Apple = apple;
                }
                DateTime parsedDate;
                if (DateTime.TryParse(TempData["QueueDate"]?.ToString(), out parsedDate)) {
                    var Bee = parsedDate.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ', 'T');
                    ViewBag.Bee = Bee;
                }
                DateTime nowdatetime;
                if (DateTime.TryParse(DateTime.Now.ToString(), out nowdatetime)) {
                    var car = nowdatetime.ToString("yyyy-MM-dd HH:mm").Replace(' ', 'T');
                    ViewBag.car = car;
                }

            }


            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    // 為 DeliveryDate 設定值
                    var inputDelivery = document.querySelector("input[name='DeliveryDate']");
                    var inputOrderTime = document.querySelector("input[name='OrderTime']");
                    var inputDeadline = document.querySelector("input[name='DeadlineDate']");
                    if (inputDelivery) {
                        inputDelivery.value = "@ViewBag.Bee";
                    }
                    if (inputDeadline) {
                        inputDeadline.value = "@ViewBag.Apple";
                    }
                    if (inputOrderTime) {
                        inputOrderTime.value = "@ViewBag.car";
                    }

                });
            </script>

            <div class="form-group">
                <label asp-for="DeadlineTime" class="control-label"></label>
                <input asp-for="DeadlineTime" class="form-control" value="@TempData["DeadlineTime"]" />
                <span asp-validation-for="DeadlineTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MissionDescription" class="control-label"></label>
                <input asp-for="MissionDescription" class="form-control" value="@ViewBag.TaskContent" />
                <span asp-validation-for="MissionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryMethod" class="control-label"></label>
                <input asp-for="DeliveryMethod" class="form-control" />
                <span asp-validation-for="DeliveryMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExecutionLocation" class="control-label"></label>
                <input asp-for="ExecutionLocation" class="form-control" />
                <span asp-validation-for="ExecutionLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MissionStatus" class="control-label"></label>
                <input asp-for="MissionStatus" class="form-control" value="發布中" />
                <span asp-validation-for="MissionStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderTime" class="control-label"></label>
                <input asp-for="OrderTime" class="form-control" value="" />
                <span asp-validation-for="OrderTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcceptTime" class="control-label"></label>
                <input asp-for="AcceptTime" class="form-control" />
                <span asp-validation-for="AcceptTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" class="form-control" value="@ViewBag.ImageData" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
        </div>
    </form>
    <script>
        document.getElementById("changbtn").addEventListener("click", function () {
            window.location.href = "/HS_Pending/PendingOrder_Pai"; 
        });
        document.getElementById("postbtn").addEventListener("click", function (event) {
            event.preventDefault(); // 防止表單自動提交

            Swal.fire({
                title: '完成',
                text: '任務已成功發布!',
                icon: 'success',
                showCancelButton: false // 只顯示確認按鈕
            }).then((result) => {
                if (result.isConfirmed) {
                    // 清除 Local Storage 中的資料
                    localStorage.removeItem("myFormData");

                    // 提交表單
                    document.querySelector("form[method='post']").submit();
                }
            });
        });
    </script>
</body>

</html>
